<h1>Usuários Cadastrados</h1>

<table border="1">
    <tr>
        <!-- table head -->
        <th>Id</th>
        <th>Nickname</th>
        <th>Name</th>
    </tr>
    {{#each usuarios}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.nickname}}</td>
        <td>{{this.name}}</td>

        <td>
            <a href="/usuarios/{{this.id}}/update">Atualizar</a>
            <form action="/usuarios/{{this.id}}/ delete" method="post">
            <input type = "submit" value="Excluir"/>
            </form>
        </td>
    </tr>
    {{/each}}
    </table>