<h1>Conquistas Cadastradas {{jogo.titulo}}</h1>

<a href="/jogos/{{jogo.id}}/novaconquista">Cadastrar Conquistas</a>

<table border="1">
  <!-- table row -->
  <tr>
    <!-- table head -->
    <th>Titulo</th>
    <th>Descrição</th>
    <th>Jogo</th>
  </tr>
  {{#each conquistas}}
    <tr>
      <td>{{this.titulo}}</td>
      <td>{{this.descricao}}</td>
    <td>{{this.jogo}}</td>
    </tr>
  {{/each}}
</table>
