{{#unless conquistas}}
    <h1>Adicionar Nova Conquista ao Jogo "{{ jogo.titulo }}"</h1>
    <form action="/jogos/{{jogo.id}}/novaconquista" method="post">
{{else}}
    <h1>Editar Conquista</h1>
    <form action="/jogos/{{jogo.id}}/conquistas/{{conquista.id}}/update" method=////"post">
{{/unless}}

  <div>
    <label for="título">Título:</label>
    <input type="text" id="título" name="titulo" value="{{conquistas.titulo}}" />
  </div>
  <div>
    <label for="descrição">Descrição:</label>
    <input type="text" id="descricao" name="descricao" value="{{conquistas.descricao}}" />
  </div>

  <input type="submit" value="{{#if conquistas}}Salvar{{else}}Cadastrar{{/if}}" />

</form>